:root {
  --dark-color: #395561;
  --light-color: #f7efea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 98vh;
  width: 98vw;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-color);
  height: 8em;
}

h1 {
  font-size: 3em;
  padding: .25em;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
  padding: .25em;
  font-size: 1.25em;
}

.banner-image {
  width: 100%;
  height: 10em;
  margin-bottom: 2em;
}

div {
  margin-bottom: 2em;
}

h2 {
  padding: .25em;
  width: 200px;
}

h3 {
  padding: .25em;
  position: relative;
  top: 8em;
  background-color: var(--dark-color);
  width: fit-content;
}

h3 a {
  text-decoration: none;
  color: var(--light-color);
}

ul li {
  list-style-type: none;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

p {
  padding: .25em;
}

.work {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  margin: 0 .5em 0 0;
  opacity: .5;
}

.project-image {
  width: 15em;
  height: 10em;
}

article:hover {
  opacity: unset;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

address {
  margin-right: 1em;
}

address a {
  margin-right: 1em;
  padding: .25em;
  text-decoration: none;
}